html,
body {
    height: 100%;
    margin: 0;
    padding: 10px;
  }
.header {
  display: flex;
  justify-content: space-between;
}
#title #heading {
  font-family: "Montez", cursive;
  color: blue;
  font-size: 30px;
  margin: 0;
}
#title #sub-heading {
  font-family: "Ubuntu Mono", monospace;
  margin: 0;
}

#button-wrapper button {
  background-color: blue;
  padding: 5px 15px;
  color: white;
  border: none;
  margin: 5px;
  cursor: pointer;
}
